

@media screen and (min-width: 1440px) {
  .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    height: 100vh;
    font-family: 'EB Garamond', regular;
    font-size: 1.3vw;
  }
  .container::before {
    content: '';
    background-image: url(../Wellcome/assets/background.png);
    position: absolute;
    z-index: -2;
    background-repeat: no-repeat;
    background-position: center;
    content: '';
    height: 50vh;
    width: 100vw;
    background-origin: border-box;
  }

  .top {
    display: flex;
    justify-content: center;
    gap: 50vw;
    margin-bottom: 20vh;
  }

  .bottom {
    align-self: flex-start;
    margin-left: 15vw;
    color: #2c4dff;
  }
}
