@media screen and (min-width: 1440px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15vh;
    align-items: center;
    scroll-snap-align: start;
  }
  span {
    font-family: 'EB Garamond', regular;
    font-size: 1.3vw;
  }
  .palete {
    display: flex;
    gap: 15vh;
  }
  .card {
    display: flex;
    flex-direction: column;
    gap: 2vh;
  }
  .card > div {
    width: 10vw;
    height: 30vh;
  }
  .palete > :nth-child(1) > div {
    background-color: #364bbc;
  }
  .palete > :nth-child(2) > div {
    background-color: #e36f3d;
  }
  .palete > :nth-child(3) > div {
    background-color: #e2d7ca;
  }
  .palete > :nth-child(4) > div {
    background-color: #000000;
  }
}
